---
---
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


html,body{
  font-family: 'Montserrat', sans-serif;
}
html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}
body{
  padding-bottom: 250px;
padding-top: 60px;
}
.site-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fc6e00;
  display: flex;
  justify-content: space-between;
  .site-title {
    display: flex;
    color: #777777 !important;
    &:hover{
      text-decoration: none;
    }
    .site-logo {
      width: 200px;
      padding: 0 20px;
      margin-right: 10px;
      line-height: 60px;
      background-color: #fff;
      img {
        width: 100%;
      }
    }
    .site-title-text{
      line-height: 60px;
      font-size: 30px;
      color: #fff;
    }
  }
  .site-nav{
    .nav-trigger{
      display: none;
      @media(max-width:767px){
        display: block;
        span.menu-icon {
    width: 30px;
    height: 30px;
    margin: 20px 10px 0 0;
    display: block;
}
      }
    }
    .trigger{
      @media(max-width:767px){
        display: none;
      }
      ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          a{
            background-color: transparent;
            border: none;
            color: rgba(255, 255, 255, 0.8);
            font-weight: 500;
            line-height: 32px;
            font-size: 13px;
            padding: 0 30px;
            display: block;
            line-height: 60px;
          }
          &.nav-last {
              background-color: #529515;
          }
        }
      }
    }
  }
}

.site-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    min-height: 190px;
    background-color: #000;
    text-align: center;
    padding: 15px 0 0 0;
    a{
      color: #fff;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .footer-heading{
      color: #fff;
      margin-top: 15px;
    }
    .social-media-list{
      margin: 10px 0;
      display: flex;
      justify-content: center;
      a{
        padding: 10px 15px;
        display: block;
        font-size: 26px;
      }
    }
    .copy-tag{
      color: #fff;
      font-size: 13px;
    }
    .u-email{
      font-size: 15px;
      color: #ffffff99;
    }
}

.hd-header {
    padding: 32px 0;
    margin-bottom: 30px;
    &.sub{
      padding: 37px 0;
      h1{
        margin: 2px 0;
        text-align: left;
        font-size: 26px;
        color: #162441;
        font-weight: 800;
      }
    }
    &.ash {
        background-color: #fafafa;
        color: #162441;
    }
    h1{
        font-weight: 800;
        margin: 0;
        font-size: 3.5em;
        text-align: center;
    }
}
.post-content{
  margin-bottom: 30px;
  .meadia-header{
    font-weight: 800;
    font-size: 22px;
    color: #162441;
    a{
      color: inherit;
    }
  }
  .post-meta-date{
    color: #162441;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    .p-author{
      margin-right: 15px;
    }
    .post-date{
color: #757575;
    }

  }
  .post-text-area{
    color: #888;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    .post-link{
      color: #fc6e00;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        &:hover {
            color: #ca5d09;
            text-decoration: none;
        }
      }
  }
}
.share-content{
  display: flex;
  margin-bottom: 20px;
  a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    color: #fff;
    margin: 0 5px 0 0 ;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s;
  }
  a:hover{
    background-color: #bbb;
  }
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}
