---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <!-- hd-header -->
  <div class="hd-header ash">
    <!-- container -->
    <div class="container">
      <!-- hd-text -->
      <div class="hd-text">
        <h1>{{ page.list_title | default: "Blog" }}</h1>
      </div>
      <!-- End of hd-text -->
    </div>
    <!-- End of container -->
  </div>
  <!-- End of hd-header -->

    <div class="container">
      <!-- post-list-group -->
      <div class="post-list-group">


        {%- for post in site.posts -%}
        <!-- post-content -->
        <div class="post-content">

          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

          <h2 class="meadia-header">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h2>
          <div class="post-meta-date">
            {%- if page.author -%}
              • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
            <span class="post-date">{{ post.date | date: date_format }}</span>
          </div>

              <!-- post-text-area -->
              <div class="post-text-area">
              {{ post.excerpt }}
              </div><!-- End of post-text-area -->


        </div><!-- End of post-content -->
        {%- endfor -%}
      </div><!-- End of post-list-group -->

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

    </div>

  {%- endif -%}

</div>
