---
layout: default
---
<article class="post">

  <header class="post-header">
    <!-- hd-header -->
    <div class="hd-header ash">
      <!-- container -->
      <div class="container">
        <!-- hd-text -->
        <div class="hd-text">
          <h1 class="post-title">{{ page.title | escape }}</h1>
        </div>
        <!-- End of hd-text -->
      </div>
      <!-- End of container -->
    </div>
    <!-- End of hd-header -->
  </header>

  <div class="container">
    {{ content }}
  </div>

</article>
