---
layout: default
---


<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <!-- hd-header -->
    <div class="hd-header sub ash">
      <!-- container -->
      <div class="container">
        <!-- hd-text -->
        <div class="hd-text">
          <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
            
            
            {%- if page.author -%}
              • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
            
            
          </time>
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">sdsdsdsdsddsd</span></span>

        </div>
        <!-- End of hd-text -->
      </div>
      <!-- End of container -->
    </div>
    <!-- End of hd-header -->
  </header>

  <div class="container" itemprop="articleBody">
    <div class="share-content">
      <a href="http://www.facebook.com/sharer.php?u=http://research.insharptechnologies.com{{ page.url }}" target="_blank"><i class="fa fa-facebook"></i></a>


         <a href="https://twitter.com/share?url=http://research.insharptechnologies.com{{ page.url }}" target="_blank"><i class="fa fa-twitter"></i></a>
         <!-- <a href="#"><i class="icon-instagram"></i></a> -->
         <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://research.insharptechnologies.com{{ page.url }}" target="_blank"><i class="fa fa-linkedin"></i></a>
         <a href="https://plus.google.com/share?url=http://research.insharptechnologies.com{{ page.url }}" target="_blank"><i class=""></i><fa class="fa fa-google-plus"></fa></a>
    </div>
    <div class="clearfix"></div>
    {{ content }}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
